{% extends 'base.html.twig' %}
{% block title %}
    New County  | Purecircle Report
{% endblock %}

{% block stylesheets %}

    {{parent()}}



    {% stylesheets
                
               filter="cssrewrite" 
    %}

    <link  rel="stylesheet" href="{{asset_url}}"  />
    {% endstylesheets %}    

{% endblock %}
{% block body -%}
    
     {{parent()}}
            <!-- page start-->
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <section class="panel">
                        <header class="panel-heading">
                            Add new County
                            
                        </header>
                        <div class="panel-body">
                        <form action="{{ path('admin_county_create') }}" method="post" class="form-horizontal">
                            <div class="form-group">
                                
                                 <label class="col-sm-2 col-sm-2 control-label"> 
                                     
                                     {#{{form_label(form.countyName)}} #}
                                 County Name
                                 </label>
                                   
                                     <div class="col-sm-7">
                                
                                {{ form_widget(form.countyName)}}
                                
                                              </div>
                                  {{form_rest(form)}}             
                           </div>  
                           
                </form>
        
  
        <a class="btn btn-default btn-xs" href="{{path('admin_county') }}">
            << Back to the list
        </a>
                        </div>
   
            
                           
                    </section>
                </div></div></section></section>
               
{% endblock %}
